* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serfi;
	display: flex;
	flex-direction: column;
	background-color: #f0e3ca;
}

.contet {
	flex: 1 0 auto;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	overflow: none;
}

/*app header*/
.app-header {
	background-color: black;
	box-shadow: 10px 10px 10px #ccc;
}

.app-header .container {
	display: flex;
	flex-direction: column;
	padding: 15px 10px;
}

.app-header .container img {
	width: 120px;
}

/*welcome header*/
.welcome-header {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.welcome-header h2 {
	font-size: 15px;
	padding-bottom: 30px;
	color: #a35709;
}

.welcome-header h1 {
	font-size: 38px;
	padding: 15px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #1b1a17;
}

.welcome-header h1 b {
	font-style: italic;
}

/*app menu*/
.app-menu {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.app-menu .menu {
	align-self: flex-end;
	padding: 25px 25px 0px;
}

.app-menu .menu a {
	background: linear-gradient(to left, #888, #1b1a17);
	color: #f0e3ca;
	border: 1px #ccc solid;
	border-radius: 7px;
	width: 250px;
	display: flex;
	padding: 7px;
	font-weight: bold;
	font-size: 22px;
	box-shadow: 3px 5px 10px #ccc;
	justify-content: space-between;
}

.app-menu .menu a:hover {
	background: linear-gradient(to left, #1b1a17, #888);
}

.app-menu .menu a i {
	font-size: 29px;
	color: #f58634;
}

.app-menu .menu .submenu {
	display: none;
}

.app-menu .menu .submenu .submenu-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	padding: 15px;
}

.app-menu .menu .submenu .submenu-grid .submenu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px #ccc solid;
	border-radius: 5px;
	box-shadow: 5px 10px 15px #ccc;
	background: linear-gradient(to top, #a35709, #1b1a17);
}

.app-menu .menu .submenu .submenu-grid .submenu-item:hover {
	background: linear-gradient(to top, #1b1a17, #a35709);
}

.app-menu .menu .submenu .submenu-grid .submenu-item h4 {
	color: white;
	font-weight: bold;
}

.app-menu .menu .submenu .submenu-grid .submenu-item p {
	color: white;
	font-weight: bold;
}

.app-menu .menu .submenu img {
	width: 200px;
	border-radius: 5px;
}

/*dashboard grid*/
.dash-grid h1 {
	text-align: center;
	font-size: 22px;
	padding: 30px;
}

.dash-grid b {
	font-style: italic;
}

.dash-grid .grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	padding: 15px;
}

.dash-grid .grid .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px #ccc solid;
	border-radius: 10px;
	box-shadow: 3px 8px 10px #888;
	background: linear-gradient(to left, #f0e3ca, #ccc);
}

.dash-grid .grid .item .logo {
	text-align: center;
	margin: 10px;
}

.dash-grid .grid .item .logo h3 {
	color: #a35709;
}

.dash-grid .grid .item .logo i {
	font-size: 45px;
	margin-bottom: 5px;
	color: #f58634;
}

.dash-grid .grid .item p {
	text-align: center;
	font-size: 13px;
	padding: 10px;
	font-weight: bold;
	color: #1b1a17;
}

/*dashboard grid fitur*/
.dash-grid-fitur h1 {
	text-align: center;
	font-size: 28px;
	padding: 30px 30px 30px;
}

.dash-grid-fitur b {
	font-style: italic;
}

.dash-grid-fitur .grid-fitur {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	padding: 15px;
}

.dash-grid-fitur .grid-fitur .item-fitur {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px #ccc solid;
	border-radius: 10px;
	box-shadow: 3px 8px 10px #888;
	padding: 5px;
}

.dash-grid-fitur .grid-fitur .item-fitur i {
	font-size: 50px;
	padding: 10px;
	color: #a35709;
}

.dash-grid-fitur .grid-fitur .item-fitur h3 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/*app footer*/
.app-footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 40px;
}

.app-footer h1 {
	font-size: 30px;
	padding-bottom: 10px;
}

.app-footer p {
	font-size: 18px;
	padding-bottom: 10px;
}

.app-footer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px #ccc solid;
	border-radius: 10px;
	padding: 10px;
	font-size: 40px;
	box-shadow: 3px 8px 10px #ccc;
	background-color: #f58634;
	color: white;
}

.app-footer a:hover {
	background-color: #a35709;
}

/*copyright*/
.copyright {
	flex-shrink: 0;
	font-size: 12px;
	padding-bottom: 5px;
	padding-left: 5px;
}

/*splash*/
/*#splash{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 1.5s;
}

#splash img{
	width: 260px;
}

#splash.fade{
	opacity: 0;
	display: none;
}*/

/*background animation*/

@media (min-width: 768px) {
	.dash-grid .grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.dash-grid-fitur .grid-fitur {
		grid-template-columns: repeat(5, 1fr);
	}

	.app-menu .menu a {
		width: 650px;
	}

	.app-menu .menu .submenu .submenu-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.app-menu .menu .submenu img {
		width: 290px;
	}
}
